

/* ==============================
          Configuracion
=================================*/


*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}


:root{

    --brand-color: #3498db;
    --brand-sombra:rgb(0, 0, 0);
    --brand-image:"url('imagenes/Alex2.jpg')";
}

html{

    background-color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size:16px;
    text-rendering: optimizeLegibility;
    color:black;
    min-width: 400px;
}

.hidden-group{
    display: none;
}
/* ==============================
          headings
=================================*/

h1, h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

h1{
    color:white;
    font-size:2rem;
    font-family: 'Roboto', sans-serif;
}


h2{
    padding-top:80px;
    font-size:1.5rem;
    word-spacing: 2px;
    text-align: center;
}

h2::after{
    display:block;
    height: 2px;
    background-color: var(--brand-color);
    width: 100px;
    margin:auto;
    margin-top:30px;
    content: "";
}

h3{
    font-size: 1.1rem;
    word-spacing: 1px;
    font-weight: bold;
}


p{
    font-size:0.9rem;
    line-height: 135%;
    text-align:left;
}





/* ==============================
          battleship
=================================*/

.battleship{
    height: 200vh;
    width: 100%vw;
    overflow: hidden;
    background: black;
    position: relative;
}




.ships{
    position: absolute;
    animation: raining;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    animation-direction: alternate;
    color: gold;
    
}

.ships:hover{
 animation-play-state:  paused;
}

.ships img{
    color: inherit;
    width: 2px;
    z-index: 1;
    
}
.ships img:hover{
    transform: scale(20);
    width: 4px;
    cursor: help;
    overflow: visible;
    z-index: 9999;

}



@keyframes raining {
    0% {
		color:initial;transform: scale(1);
	}
    100% {
		color:initial;transform: scale(2);
	}
}



/* ==============================
          Planet and spaceship 
=================================*/
.box-info{
    width: auto;
    height: 200px;
    position: absolute;
    display: none;
    z-index: 999;
    text-transform: capitalize;

}

.box-info-title{
    background: rgba(128, 128, 128, 0.801);
    border-bottom: 1px solid black;
    text-align: center;

    
}
.box-info-resumen{
    background: white;
    padding: 10px;
    
}

.box-info span{
 font-weight: bold;
}


/* ==============================
         Empire Resumen
=================================*/
.Empire-resumen{
    background: black;
    padding: 20px 0;
}

.group-empire{
    display: flex;  
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.kingdom{
    width: 20%;
    margin-left: 4%;
    color: white;
    text-align: center;
    line-height: 1rem;
    border: 1px solid white;
    height: auto;
    margin-bottom: 20px;
}

.kingdom h4{
color: greenyellow;
padding: 10px;
background: rgba(128, 128, 128, 0.76);
font-weight: bold;

}

.kingdom-resume{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.kingdom-logo i{
font-size: 3rem;
text-align: center;
}

.kingdom-facts{
    text-align: left;
   
}

.kingdom-facts i{
    padding: 5px;
}

.kingdom a {

    padding: 5px 10px;
    border: 1px solid greenyellow;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}



/* ==============================
          Statistics
=================================*/

.statistics{
    background: black;
    padding: 20px 0;
    color: white;
}

.full-stadistics-container{

    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats{
    width: 25%;
    margin-left:5%;
}

.Statistics-bar{
    width: 300px;
    margin-bottom: 20px;
    
}

.statistics-bar span{
    display: inline-block;
    width: 50px;
}

.Statistics-bar-full{
    width: 200px;
    display: inline-block;
    content: "";
    border: 1px solid white;
    margin-left: 10px;
}

.Statistics-bar-full>*{
    width: 50%;
    background: greenyellow;
    color: greenyellow;
    margin-left: -1px;
}
/* ==============================
          Footer 
=================================*/


footer{ 
    overflow: hidden;
    background-color: black;
    color:white;
    position: relative;
    height: 30vh;
    font-size: 0.7rem;
}


.politicas{
    position: absolute;
    width: 80%;
    left:0; 
    right: 0;
    top:30px;
    margin:auto;
    text-align: center;
}

.politicas a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.politicas a:hover{
    color: var(--brand-color);
}

.politicas::after{
    display:block; 
    content:"";
    width: 200px;
    margin:20px auto;
    height: 2px;
    background-color: white;
}

.politicas li{
    display: inline-block;
    padding-left: 20px;
    text-decoration:none;
    transition: color 1s;
}

.politicas li:hover{
    color: var(--brand-color);
    text-decoration: underline; 
    cursor:pointer; 
}


footer .socios{

    position: absolute;
    left:20%;
    top:40%;
    width: 60%
}

.socios img{
    width:70px;
    cursor: pointer;
}


footer .social-media{
    position:absolute;
    right: 20%;
    top:45%;
    text-align: center;
}


.social-media i{
    width: 20px;
    color:white; 
    transition: color 1s;
}

.social-media i:hover{

    color: var(--brand-color);
    cursor: pointer;
}

footer h4 { margin-bottom: 20px;}

/* ==============================
          futura secciones. 
=================================*/


