

/* ==============================
          Configuracion
=================================*/


*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}


:root{

    --brand-color: #3498db;
    --brand-sombra:#246A99;
    --brand-image:"url('imagenes/Alex2.jpg')";
}

html{

    background-color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size:16px;
    text-rendering: optimizeLegibility;
    color:black;
    min-width: 400px;
}


/* ==============================
          headings
=================================*/

h1, h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

h1{
    color:white;
    font-size:2rem;
    font-family: 'Roboto', sans-serif;
}


h2{
    padding-top:80px;
    font-size:1.5rem;
    word-spacing: 2px;
    text-align: center;
}

h2::after{
    display:block;
    height: 2px;
    background-color: var(--brand-color);
    width: 100px;
    margin:auto;
    margin-top:30px;
    content: "";
}

h3{
    font-size: 1.1rem;
    word-spacing: 1px;
    font-weight: bold;
}


p{
    font-size:0.9rem;
    line-height: 135%;
    text-align:left;
}





/* ==============================
              header
=================================*/
header{
    background: linear-gradient(var(--brand-color), rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712), var(--brand-color));
  
    height: 100vh;
    background-size:cover;
    background-position: center;
    overflow: hidden;
}

.arrow-down{
    display: none;
    position: absolute;
    bottom: 10px;
    left:0px;
    right: 0px;
    width: 20px;
    margin: auto;
    cursor: pointer;
    animation-name: arrowdown;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}

.arrow-down img{
    width: 100%;
}


@keyframes arrowdown {
    0% {bottom : 30px; border-top: 2px solid var(--brand-color);}
    100% {bottom : 18px; border-top: 2px solid var(--brand-color);}
  }



.titulo-box{
    position: absolute;
    width: 80%;
    top:40%;
    left:0px;
    right: 0px;
    margin:auto;
    color: white;
    text-align: center;

}

.titulo-box h1{
    font-size: 3rem;
    margin-bottom: 0px;
}

.titulo-box h2{
    padding-top:10px; 
}

.titulo-box h3:hover{
    cursor: pointer;
    color: var(--brand-color);
}


.btn{ 
 display:inline-block;
 padding:10px 30px;
 text-decoration:none;
 border:1px solid var(--brand-color);
 border-radius:200px;
 color:white;
 transition: background-color 0.4s,border 0.4s,color 0.4s;
}


.btn-completo{
    background-color: var(--brand-color);
}

.btn-transparente{
    color: var(--brand-color);
}


.btn:hover{


background-color: var(--brand-sombra);
border: 1px solid var(--brand-sombra);
color:white;
}



nav{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin:auto;
    z-index: 9999;
    background-color: var(--brand-color);
    opacity: 0.8;
    
}

.logo{
    float:left;
    width: 10%;
    min-width: 100px;
}

.wrapper-header{
background-image: url(imagenes/Alex2.jpg);
opacity: 0.4;
background-size:cover;
background-position: center;
overflow: hidden;
height: 100vh;
background-attachment: fixed;


}

.nav-principal{
    padding:10px;
    float: right;
    
}

.nav-principal li{
    display:inline-block;
}

.nav-principal a{

    text-decoration:none;
    color: white;
    font-weight: bold;
    margin-left: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s;
    padding-bottom: 10px;
    
}

.nav-principal a:hover{
    border-bottom: 1px solid var(--brand-color);
}

.menu-background{
    position: relative;
    
}

.mood{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.893);
    z-index: 9999;
    color: white;
   
}

.mood h3{
    cursor: pointer;
}

.fa-dice-d20{
    color:gold;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
    
}

@keyframes example {
    0% {color: var(--brand-color);}
    25% {color: white;transform: rotate(15deg);}
    50% {color: white;transform: rotate(0deg);}
    75% {color: white;transform: rotate(-15deg);}
    100% {color: var(--brand-color);}
  }



/* ==============================
        pixabay-section
=================================*/


.pixabay-section{
    display: none;
    height: 100vh;
    
}


.mood-resume{
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    
}

.pixabayContenedor h5{
    margin-bottom: 20px;
}

.mood-resume h3{
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
}

.mood-resume h3:hover{
    background: rgba(128, 128, 128, 0.247);
}


/*just for pictures of user*/

.random-size{
    width: 150px !important;
    border-radius: 50%;
    position: absolute;
    left:0px;
    right: 0px;
}

.random-h3{
    text-align: center;
}

/* ==============================
          Caracteristicas
=================================*/
.caracteristicas{
   
overflow:auto;
text-align: center;

}


    .c-paragrafo{

        width: 80%;
        margin:auto;
        line-height: 30px;
        text-align: center;
    }

.c-info{
    padding-top:60px;
    width: 80%;
    margin:auto;
    display: none;
}

.col{
    padding-left:1%;
}

.c-info i{

    width: 80%;
    margin:auto;
    font-size:2.5rem;
    color:var(--brand-color);
    text-align: center;
    margin-bottom:10px;
}


/* ==============================
          Destacadas
=================================*/

.vivienda-destacada{
    overflow:auto;
}

.foto-casas{
    padding-top: 60px;
}

.f-contenedor{
    width: 100%;
    list-style-type: none;
   
}



.f-contenedor li{
    float:left;
    width: 25%;
    overflow:hidden;
}


.f-contenedor a{

    display:block;
    width: 100%;
    position:relative;
    height: 0;
    padding:56.2% 0 0 0;
    overflow:hidden;
    background-color:black;
}


.f-contenedor img{
    position: absolute; 
    display:block;
    width: 100%;
    top:0;
    bottom:0px;
    margin:auto;
    transform:scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity:0.7;
}

.f-contenedor img:hover{
    transform:scale(0.7);
    opacity: 1;
    cursor: pointer;
}

/* ==============================
         Registra
=================================*/

.registra{ 
    overflow: hidden;
}

.registra img{

    display:block;
    float:right;
    width: 20%;
    margin-right:30px;

}



.registra-contenedor p{ 

    padding: 10px 0px;
}

.registra-contenedor i{ 

   color: var(--brand-color);
   width: 50px;
   font-size:1.2rem;
   text-align: center;
}

.registra-contenedor a{ 
margin-top:40px;
margin-left:40px;
 }


/* ==============================
          Ciudades
=================================*/

.ciudad{ 

    overflow: auto;
}

.ciudad ul {

    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
   list-style-type: none;
}

.ciudad .cuartos{

    width: 20%; 
    float: left;
    margin-left:4%;
}

.ciudad li img{
    width: 100%;
}


.ciudad li a { 

    display:block;
    position: relative;
    padding: 56.25% 0 0 0;
    overflow: hidden;
    cursor: help;
    
}

.ciudad img{
    position: absolute;
    top:0;
    bottom: 0; 
    margin:auto;
}


.informacion-adicional i{
    color: var(--brand-color);
    width: 50px;
    font-size: 1.4rem;
    text-align:center;
}

.informacion-adicional p{
    padding: 10px 0px;
    font-size:0.9rem;
}




/* ==============================
          Planes 
=================================*/
.plan{
    background-color: #f7f7f7;
    color:black;
    padding-bottom: 60px;
}

.plan-contenedor{
width: 70%;
margin:auto;
padding-top:60px;

}

.modulo-plan{

    width: 25%;
    background-color:white;
    border: 1px solid rgb(241, 241, 241);
    display: inline-block;
    margin-left:6.25%;
    box-shadow: 1px 1px 10px var(--brand-color);

}


.plan-titulo{
    width: 100%;
    height: 100px;
    background-color: var(--brand-color);
    color:white;
    margin-bottom: 20px;

}

.plan-titulo h3{
    font-size:2.5rem;
    text-align: center;
}

.modulo-plan p{

    font-size:0.8rem;
    padding:10px 5px;
}

.plan-cuerpo i { 

    width: 30px;
    text-align: center;
    color:gold;
}

.plan-cuerpo a{
    display:block;
    width: 60%;
    margin: 15px auto;
    text-align:center;
}


/* ==============================
          Footer 
=================================*/


footer{ 
    overflow: hidden;
    background-color: black;
    color:white;
    position: relative;
    height: 30vh;
    font-size: 0.7rem;
}


.politicas{
    position: absolute;
    width: 80%;
    left:0; 
    right: 0;
    top:30px;
    margin:auto;
    text-align: center;
}

.politicas::after{
    display:block; 
    content:"";
    width: 200px;
    margin:20px auto;
    height: 2px;
    background-color: white;
}

.politicas li{
    display: inline-block;
    padding-left: 20px;
    text-decoration:none;
    transition: color 1s;
}

.politicas li:hover{
    color: var(--brand-color);
    text-decoration: underline; 
    cursor:pointer; 
}


footer .socios{

    position: absolute;
    left:20%;
    top:40%;
    width: 60%
}

.socios img{
    width:80px;
    cursor: pointer;
}


footer .social-media{
    position:absolute;
    right: 20%;
    top:45%;
    text-align: center;
}


.social-media i{
    width: 20px;
    color:white; 
    transition: color 1s;
}

.social-media i:hover{

    color: var(--brand-color);
    cursor: pointer;
}

footer h4 { margin-bottom: 20px;}

/* ==============================
          futura secciones. 
=================================*/


